#{extends 'main.html' /}
#{set title:'Nova turma' /}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Crie uma nova turma!</h4></br>
                                <div class="basic-form">
                                    <form action="@{SalasVirtuais.salvar}">
                                        <div class="form-group">
                                        
                                        	
                                            <p class="text-muted m-b-15 f-s-12"><code>*As informações que serão preenchidas estão relacionadas ao Centro de Aprendizagem (CA) presencial com a finalidade de 
                                            auxiliar o aluno a conhecer sobre os horários e locais da monitoria de cada disciplina.</code> </p>
                                            
                                            <input type="hidden" name="s.id" value="${s?.id}"><input type="hidden" name="s.id" value="${s?.id}">
                                            <p><strong>Nome da turma:</strong></p> <input type="text" name="s.nomeTurma" class="form-control input-default" placeholder="Ex: 4INF2M"></br>
                                            <p><strong>Disciplina: </strong></p> <input type="text" name="s.disciplina"  class="form-control input-default" placeholder="Ex: História"></br>
                                            <p><strong>Dia da semana: </strong></p> <input type="text" name="s.dia"  class="form-control input-default" placeholder="Ex: Quarta"></br>
                                            <p><strong>Horário: </strong></p> <input type="text" name="s.horario"  class="form-control input-default" placeholder="Ex: 16:30h"></br>
                                            <p><strong>Local:</strong></p> <input type="text" name="s.local"  class="form-control input-default" placeholder="Ex: Sala 8, bloco 2.">
                                            
                                        </div>
                                        <button class="btn login-form__btn submit w-100">Criar nova turma</button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
     
                    
                    
                    
                    
