#{extends 'main-alunos.html' /}
#{set title:'Alunos' /}

 
            <div class="container-fluid">
                <div class="layout-compact-nav">
                    <div class="col-lg-6">
                        <div class="card-infor">
                            <div class="card-body">
                                <h4 class="card-title">Informações</h4>
                                <div class="table-responsive">
                                    <table action="@{SalasVirtuais.autenticarCodigo}" class="table table-bordered verticle-middle">
                                     <table action="@{SalasVirtuais.mostrarSalaAlunos}" class="table table-bordered verticle-middle">
                                        <thead>
                                            <tr>
                                           	
                                               
                                                <th scope="col">Turma</th>
                                                <th scope="col">Disciplina</th>
                                                <th scope="col">Dia</th>
                                                <th scope="col">Horário(h)</th>
                                                <th scope="col">Sala</th>
                                                <th scope="col">Bloco</th>
                                                <th scope="col">Código</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
       		
                                              
                                                <td>${sala.nomeTurma}  </td>
                                                <td>${sala.disciplina}  </td>
                                                <td>${sala.dia}  </td>
                                                <td>${sala.horario}  </td>
                                                <td>${sala.sala}  </td>
                                                <td>${sala.bloco}  </td>
                                                <td>${sala.codigo}  </td>
                                                
                                            </tr>
                                            
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>