#{extends 'main.html' /}
#{set title:'Centro de Aprendizagem Virtual' /}

 <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Informações</h4>
                                
                                <div class="row form-material">
                                    <div class="col-md-6">
                                        <label class=""><strong>Turma</strong></label>
                                        <input type="text" name="s.nomeTurma"  class="form-control" placeholder="s.nomeTurma " >
                                        <label class="m-t-40">Código</label>
                                        <input type="text"  class="form-control" placeholder="Saturday 24 June 2017 - 21:44">
                                    </div>
                                       
                                    <div class="col-md-6">
                                        <label class="">Turma</label>
                                        <input type="text" class="form-control" placeholder="2017-06-04" >
                                        <label class="m-t-40">Código</label>
                                        <input type="text"  class="form-control" placeholder="Saturday 24 June 2017 - 21:44">
                                    </div>

                                    
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                