#{extends 'main.html' /}
#{set title:'Novo questionário' /}
<script src="@{'public/javascripts/tipoQuestao.js'}"></script>


	<ul id="lista">
		<li>
<div class="container-fluid" id="newQuestao">

						<div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                            	 
                                <h4 class="card-title"><li class="list-group-item active">Enunciado da questão</li></h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            
                                            <textarea class="form-control h-150px"  rows="2" cols="100" id="comment"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><li class="list-group-item active">Anexar arquivo</li></h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            <input type="file" class="form-control-file">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                       <div class="col-lg-12" >
                        <div class="card">
                            <div class="card-body">
                                 <h4 class="card-title"><li class="list-group-item active">A questão será</li></h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            <select name="tipoQuestao" id="1" onChange = "definirBloco()" class="form-control form-control-lg">
                                            	 <option></option>
                                                <option value="objetiva" >Objetiva</option>
                                                <option value="discursiva" >Discursiva</option>
                                            </select>
                                        </div>
            
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="teste">
                    
                    <div class="col-lg-12" id="objetiva">
                        <div class="card">
                            	<div class="card-body">
                            	<h4 class="card-title"><li class="list-group-item active">Objetivas</li></h4>
                                	<div class="basic-form">
                                    	<form>
                                        	<div class="form-group">
                                            	<div class="radio mb-3">
                                                	<label>
                                                    	<strong>Alternativa A)</strong> <textarea class="form-control h-150px"  rows="1" cols="150" id="comment"></textarea>
                                                	</label>
                                                
                                            	</div>
                                            	<div class="radio mb-3">
                                                	<label>
                                                    		<strong>Opção 2</strong> <textarea class="form-control h-150px"  rows="1" cols="150" id="comment"></textarea>
                                                	</label>
                                            	</div>
                                            	<div class="radio mb-3">
                                                	<label>
                                                    		<strong>Opção 3</strong> <textarea class="form-control h-150px"  rows="1" cols="150" id="comment"></textarea>
                                                	</label>
                                            	</div>
                                            	<div class="radio mb-3">
                                                	<label>
                                                    		<strong>Opção 4</strong> <textarea class="form-control h-150px"  rows="1" cols="150" id="comment"></textarea>
                                                	</label>
                                            	</div>
                                            	<div class="radio mb-3">
                                                	<label>
                                                    		<strong>Opção 5</strong> <textarea class="form-control h-150px"  rows="1" cols="150" id="comment"></textarea>
                                                	</label>
                                            	</div>
                                            	
                                            	
                                            	 
                           
                            	 
                                <h4 class="card-title"><li class="list-group-item active">Resposta da questão</li></h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            
                                            <textarea class="form-control h-150px"  rows="2" cols="100" id="comment" placeholder="Após o aluno responder a questão aparecerá o comentário acerca da resolução da atividade"></textarea>
                                        </div>
                                    </form>
                                </div>
                          
                     
                                            	
                                        	</div>
                                    	</form>
                                       </div>
                           		 </div>
                       	 </div>
                    </div>
                    
                  
                    
                    <div class="col-lg-12"  id="discursiva">
                        <div class="card">
                            <div class="card-body">
                            	 
                                <h4 class="card-title"><li class="list-group-item active">Resposta da questão</li></h4>
                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            
                                            <textarea class="form-control h-150px"  rows="2" cols="100" id="comment" placeholder="Após o aluno responder a questão aparecerá o comentário acerca da resolução da atividade"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    </div>
                 
                 
                 </li>
             	</ul>    
                  <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                            			<button onclick ="adicionarLi()" class="btn login-form__btn submit w-100">Cadastrar</button><br/>
                                        <button onclick ="adicionarLi()" type="button" class="btn mb-1 btn-success">Registrar novo CA</button>
                                        <a href="#" onclick ="adicionarLi()"  data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-block"><i class="ti-plus f-s-12 m-r-5"></i> Salvar formulário</a>
                                        
                  </div>
               </div>
            </div>    
              
             </div>
             
             