#{extends 'main.html' /}
#{set title:'Registro do Centro de Aprendizagem' /}

 <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                             <h4 class="card-title">Informações</h4>
                                <div class="basic-form">
                                    <form action="@{CentrosAprendizagem.salvar(salaVirtual = salaVirtual)}">
                                    
                                    
                                    	<input type="hidden" class="form-control" name="c.idSalaVirtual" value="${salaVirtual}">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Data</label>
                                                <input type="date" class="form-control" name="c.data" value="${c?.data}" >
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Horário</label>
                                                <input type="time" class="form-control" name="c.horario" value="${c?.horario}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Local</label>
                                                <input type="text" class="form-control" name="c.local" value="${c?.local}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Assunto</label>
                                                <input type="text" class="form-control" name="c.assunto" value="${c?.assunto}">
                                            </div>
                                		</div>
                            		
                               		 <button  style="background: #2b961f" class="btn mb-1 btn-primary btn-lg">Salvar</button>
                               		 
                               		 </form>
                               		 
                               		  </div>
                               		  </div> 
                               		  
                               		