#{extends 'main.html' /}
#{set title:'Centro de Aprendizagem Virtual' /} 


 #{ set 'moreStyles'}
 	#{stylesheet 'play-pagination.css' /}
 #{/set}
 
 
 <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                               
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            	  <button style = "float: right" type="button" class="btn mb-1 btn-danger">Tabuleiro</button>
                            	  <a href="@{CentrosAprendizagem.ranking(teste = sala.id)}"><button type="button" style = "float: right" type="button" class="btn mb-1 btn-success">Ranking</button></a>
                                <h4 class="card-title">Informações</h4>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home8"><span><i class="ti-home"></i></span></a>
                                    </li>
                                	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile8"><span><i class="ti-user"></i></span></a>
                                    </li>
                                  	 <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages8"><span><i class="ti-email"></i></span></a>
                                    </li>

                                </ul>
                                
                                <div class="tab-content tabcontent-border">
                                	
                                    <div class="tab-pane fade show active" id="home8" role="tabpanel">
                                        
                                    	<table action="@{SalasVirtuais.salvar}" class="table table-bordered verticle-middle">
                                    	<table action="@{SalasVirtuais.detalhes}" class="table table-bordered verticle-middle">
                                    	<table action="@{SalasVirtuais.mostrarSalaProfessores}" class="table table-bordered verticle-middle">
                                    	<table action="@{CentrosAprendizagem.salvar}" class="table table-bordered verticle-middle">
                                        
                                        <thead>
                                            <tr>
                                                
                                                <th scope="col">Turma</th>
                                                <th scope="col">Disciplina</th>
                                                <th scope="col">Dia</th>
                                                <th scope="col">Horário(h)</th>
                                                <th scope="col">Sala</th>
                                                <th scope="col">Bloco</th>
                                                <th scope="col">Código</th>
                                                <th scope="col">Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td>${sala.nomeTurma} </td>
                                                <td>${sala.disciplina} </td>
                                                <td>${sala.dia} </td>
                                                <td>${sala.horario} </td>
                                                <td>${sala.sala} </td>
                                                <td>${sala.bloco} </td>
                                                <td>${sala.codigo} </td>
                                                <td><span><a href="@{SalasVirtuais.editar(id = sala.id)}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="#" data-toggle="modal" data-target="#add-category" title="Excluir"><i class="fa fa-close color-danger"></i></a></span>
                                                </td>
                                                
                                                 <div class="modal fade none-border" id="add-category">
                                        			<div class="modal-dialog">
                                           				 <div class="modal-content">
                                                			<div class="modal-header">
                                                    		<h4 class="modal-title"><strong>Deseja excluir ${sala.disciplina}-${sala.nomeTurma}?</strong></h4>
                                                			</div>
                                            				<div class="modal-footer">
                                                    		<a href="@{SalasVirtuais.deletar(id = sala.id)}" ><button style="background: #FF0000; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Excluir</button></a>
                                                			</div>
                                            			</div>
                                        			</div>
                                    			</div>
                                            </tr>
                                        </tbody>
                                    	</table>
                                </div>
                               
                             	
                                <div class="tab-pane fade" id="profile8" role="tabpanel">
								<h4>Alunos inscritos</h4>
                                	<div class="table-responsive">
                                		 
                                   		<table class="table table-striped table-bordered zero-configuration">
                                   		
                                   		
                                   		 
                                   		#{if listaPaginadaAlunos == null} 
                                   		<h6>Não há nenhum aluno inscrito</h6>
                                   		#{/if}
                                   		
                                   		#{else} 
                                      
                                    	<thead>
                                            	<tr>
                                               		<th>Nome</th>
                                                	<th>Matrícula</th>
                                            	</tr>
                                        	</thead>
                                        
                                          
                                        #{paginate.list items: listaPaginadaAlunos, as: 'aluno'}
                                    
                                        
                                      
                                        <tbody>
                                      
                                            <tr>
                                                <td>${aluno.nome}</td>
                                                <td>${aluno.matricula}</td>
                                            </tr>
                                       
                                        </tbody>
                                        #{/paginate.list}
                                         #{paginate.controls items:listaPaginadaAlunos/}
                                        
                                        #{/else}
                                         
                               		 </table>
                               		  </div>
                               		  </div>     
                               		   
                               		   
                               		 <table action="@{SalasVirtuais.salvar}" class="mt-5 mb-3 login-input">
                                    		  
                              		<div class="tab-pane fade" id="messages8" role="tabpanel">
 											<h4>CAs cadastrados</h4>
 											
                                    		
                                            
                                            #{list items: listaCas, as: 'cas'}
                                             <div class="card-content" >
                                    			<div class="alert alert-primary"><a href="@{CentrosAprendizagem.frequenciaAlunos(sala.id, cas.id)}" class="alert-link">Assunto: ${cas.assunto}, realizado em ${cas.data} às ${cas.horario}.</a></div>
                                    			
                                    		</div>
                                    		#{/list}
                                    		
                                    		  
                                                   <a href="@{CentrosAprendizagem.registro(teste = sala.id)}"><button type="button" class="btn mb-1 btn-success">Registrar novo CA</button></a>
                                           
                                        </div>
                                          </table>
                                          
                                    </div> 
         				
         					 </div>       
						</div>
						
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>   